.button {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $color-accent;
  padding: 30px 32px 30px 40px;
  display: block;
  width: 340px;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 88% 51%;

  &:hover {
    background-color: $color-accent-hover;
  }

  @media (max-width: 1023px) {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    padding: 19px 40px;
    width: 250px;
    margin: 0 auto;
    text-align: left;
  }

  @media (max-width: 767px) {
    width: 288px;
    line-height: 13px;
    padding-bottom: 18px;
  }
}
