@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-regular.woff2"), url("../fonts/montserrat-regular.woff");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-medium.woff2"), url("../fonts/montserrat-medium.woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-semibold.woff2"), url("../fonts/montserrat-semibold.woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-bold.woff2"), url("../fonts/montserratbold.woff");
}

