$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$font-base: "Montserrat", "Arial", sans-serif;

$color-base: #ffffff;
$color-base-dark:#000000;
$background-main:#88b2dc;
$color-text-base: #2c2e3f;
$color-accent:#fe7865;
$color-accent-hover:#f17d4b;
$color-text-base-opacity-light:rgba(44, 46, 63, 0.3);
$color-text-base-opacity-high:rgba(44, 46, 63, 0.7);
$color-text-additional-dark: #141517;
$color-text-additional-dark-translucent: rgba(20, 21, 23, 0.5);
$color-text-form: #48494d;
